body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #f8f9fa;
  font-family: "Nanum Gothic", sans-serif;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
  /* top: 20px; */
  left: 60px;
  background-color: white;
  border-radius: 20px;
}
.nav-logo img {
  width: 200px;
  height: 100px;
  cursor: pointer;
}
.nav-link ul {
  display: flex;
  gap: 40px;
}
.nav-link ul li a {
  position: relative;
  color: #333;
  text-decoration: none;
}

.nav-link ul li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffd700;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-link ul li a:hover::before {
  transform: scaleX(1);
}

.button {
  background-color: #ffc800;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Nanum Gothic", sans-serif;
  margin-right: 20px;
  cursor: pointer;
}

.button:hover {
  width: 200px;
  height: 60px;
  background-color: lightblue;
}

.button:active {
  transform: translateY(1px);
}

.container {
  border: 2px solid;
  border-radius: 10px;
  width: 90%;
  margin-left: 60px;
  display: flex;
  justify-content: space-between;
}
.section-title {
  border-radius: 1px solid;
}
.courses img {
  height: 100px;
}

.courses .course-digital-marketing {
  border: 1px solid;
  position: relative;
}
.course-digital-marketing-h {
  margin-left: 10px;
}
.courses .course-design {
  border: 1px solid;
  position: relative;
}
.course-design-h {
  margin-left: 10px;
}

.courses .course-programming {
  border: 1px solid;
}
.course-programming-h {
  margin-left: 10px;
}
.courses .course-system-network {
  border: 1px solid;
  position: relative;
}
.course-system-network-h {
  margin-left: 10px;
}
.courses {
  width: 50%;
  border: 1px solid;
}
